# Map, Filter, Reduce

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Each-student-is-randomly-assigned-a-topic" data-toc-modified-id="Each-student-is-randomly-assigned-a-topic-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Each student is randomly assigned a topic</a></span></li></ul></li><li><span><a href="#Let's-start" data-toc-modified-id="Let's-start-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Let's start</a></span><ul class="toc-item"><li><span><a href="#Create-groups-with-other-people-who-have-studied-the-same-function" data-toc-modified-id="Create-groups-with-other-people-who-have-studied-the-same-function-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create groups with other people who have studied the same function</a></span></li></ul></li><li><span><a href="#Map,-Filter,-Reduce" data-toc-modified-id="Map,-Filter,-Reduce-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map, Filter, Reduce</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Map</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Filter" data-toc-modified-id="Filter-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Reduce</a></span><ul class="toc-item"><li><span><a href="#What-happened?" data-toc-modified-id="What-happened?-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>What happened?</a></span></li></ul></li><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Bonus:-Do-it-with-lambda!" data-toc-modified-id="Bonus:-Do-it-with-lambda!-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Bonus: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

### Each student is randomly assigned a topic

In [56]:
students = [
    "Daniel",
    "Edgar",
    "Gaspar",
    "Hassan", 
    "Juliana",
    "Mohammed S.",
    "Ameri",
    "Nicolás",
    "Peter",
    "Samuel",
    "Venice",
    "Viktoras"
]

In [57]:
topics = ["map"] * 4 + ["filter"] * 4 + ["reduce"] * 4
topics

['map',
 'map',
 'map',
 'map',
 'filter',
 'filter',
 'filter',
 'filter',
 'reduce',
 'reduce',
 'reduce',
 'reduce']

In [64]:
import random
random.shuffle(students)
random.shuffle(topics)

In [66]:
students
topics

['reduce',
 'map',
 'filter',
 'reduce',
 'filter',
 'filter',
 'map',
 'map',
 'map',
 'reduce',
 'filter',
 'reduce']

In [67]:
alltogether = list(zip(students, topics))
alltogether

[('Hassan', 'reduce'),
 ('Gaspar', 'map'),
 ('Juliana', 'filter'),
 ('Edgar', 'reduce'),
 ('Venice', 'filter'),
 ('Nicolás', 'filter'),
 ('Ameri', 'map'),
 ('Peter', 'map'),
 ('Daniel', 'map'),
 ('Viktoras', 'reduce'),
 ('Samuel', 'filter'),
 ('Mohammed S.', 'reduce')]

## Let's start

You have 10 minutes to explore and understand the role you have been assigned on your own. You may find these links useful:

- [link 1](https://medium.com/swlh/higher-order-functions-in-python-map-filter-and-reduce-34299fee1b21)
- [link 2](https://www.learnpython.org/en/Map,_Filter,_Reduce)
- [link 3](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples)

### Create groups with other people who have studied the same function

![otrogif](https://media.giphy.com/media/UatRnEUNX8iCQ/giphy.gif)

In this part of the game you are assigned to a group in which you are the expert in your role.
Each group member has 5 minutes to explain their role to the other team members.

In [75]:
map_experts = list(filter(lambda x: x[1] == "map", alltogether))
filter_experts = list(filter(lambda x: x[1] == "filter", alltogether))
reduce_experts = list(filter(lambda x: x[1] == "reduce", alltogether))

In [77]:
counter = 1
for everyone in zip(map_experts, filter_experts, reduce_experts):
    print(f"Group {counter}: {[[i][0] for i in everyone]}")
    counter +=1

Group 1: [('Gaspar', 'map'), ('Juliana', 'filter'), ('Hassan', 'reduce')]
Group 2: [('Ameri', 'map'), ('Venice', 'filter'), ('Edgar', 'reduce')]
Group 3: [('Peter', 'map'), ('Nicolás', 'filter'), ('Viktoras', 'reduce')]
Group 4: [('Daniel', 'map'), ('Samuel', 'filter'), ('Mohammed S.', 'reduce')]

## Map, Filter, Reduce

There are three functions that will come in very handy when working with iterators. These functions facilitate certain basic and common operations on iterable collections of data, such as removing elements that do not meet a certain condition, calculating a result from the contained data, or applying a transformation to each element. Let's see them with examples of use:

### Map

The map() function takes a function and a list and applies that function to each element in that list, producing a new list.
```python
map(function_to_apply, list_of_inputs)
```

In [118]:
def square (n):
    #print(n ** 2)
    return n ** 2

In [115]:
nums = [1, 2, 3, 4, 5, 6]

In [116]:
for i in nums:
    square(i)

1
4
9
16
25
36

In [119]:
list(map(square, nums))

[1, 4, 9, 16, 25, 36]

In [120]:
[square(x) for x in nums]

[1, 4, 9, 16, 25, 36]

In [121]:
list(map(square, nums))

[1, 4, 9, 16, 25, 36]

#### First we do it with functions

In [122]:
names = ["Pau", "Clara", "Albert"]

def greets (n):
    return f"Hello my name is {n}"

In [123]:
list(map(greets, names))

['Hello my name is Pau', 'Hello my name is Clara', 'Hello my name is Albert']

In [124]:
#Q: why do we need to turn it into a list? -> memory wise it's more efficient for python

map(greets, names)

The map function returns an iterator, so we have to use `list(map_iterator)`

In [125]:
list(map(greets, names))

['Hello my name is Pau', 'Hello my name is Clara', 'Hello my name is Albert']

#### Extra: Do it with lambda!

In [1]:
nums = [1, 2, 3]

list(map(lambda x: x * 2, nums))

[2, 4, 6]

### Filter

The filter() function filters a list of items for which a function returns True.
```python
filter(a_function, a_list)
```

Imagine you want to filter a list of numbers to get only even values.

In [3]:
all_number = [i for i in range(1, 11)]
all_number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### First we do it with functions

In [19]:
def even (number):
    if number % 2 == 0: # if it's even
        return True

In [21]:
new_even = []
for num in all_number:
    if num % 2 == 0:
        new_even.append(num)
new_even

[2, 4, 6, 8, 10]

In [22]:
list(filter(even, all_number))

[2, 4, 6, 8, 10]

Imagine that you want to filter a list and keep only the groups that start with the letter R

In [26]:
singers = ["Rosalia", "Bad Bunny", "Russian red"]

In [25]:
new_list_singers = []
for i in singers:
    if i.startswith("R"):
        new_list_singers.append(i)
new_list_singers

['Rosali', 'Russian red']

In [30]:
def starts_with_letter(a_string):
    return a_string.startswith("R")

In [32]:
starts_with_letter("bad bunny")

False

In [33]:
list(filter(starts_with_letter, singers))

['Rosalia', 'Russian red']

#### Extra: Do it with lambda!

In [36]:
list(filter(lambda x: x[0] == "R", singers))

['Rosalia', 'Russian red']

In [39]:
nums10 = [1, 2, 3, 4]

In [40]:
list(filter(lambda x: x%2 == 0, nums10))

[2, 4]

### Reduce

This function is not a built-in function, which means you must first import the functools library for use. The reduce() function cumulatively applies the f() function to the elements of the iterable. The accumulator can be initialized with an optional third argument. The result is the final value of the accumulator.
```python
reduce(function, iterable[, initial])
```

In [41]:
from functools import reduce

⚠️ Reduce is a bit more complicated to understand than map() and filter() so let's walk through the following example ⚠️

In [46]:
def addition (x, y):
    print(x + y)
    return x + y

In [47]:
addition (2, 3)

5

5

In [62]:
numbers_15 = [i for i in range(1, 16)]
numbers_15

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [50]:
reduce(addition, numbers_15)

3
6
10
15
21
28
36
45
55
66
78
91
105
120

120

In [51]:
list_20 = [2, 4, 7, 3]
def adds (a, b):
    return a + b

reduce(adds, list_20)

16

#### What happened?
- We start with a list [2, 4, 7, 3] and pass the function add (x, y) to reduce ( ) along with this list, without an initial value

- reduce() calls add(2, 4), and add() returns 6

- reduce() calls sum(6, 7) (result of the previous call to sum() and the next element in the list as parameters), and sum() returns 13

- reduce() calls sum(13, 3), and sum() returns 16

Since there are no more elements left in the sequence, reduce() returns 16

Factorial:
Amount that results from the multiplication of a certain natural number by all the natural numbers that precede it, excluding zero; is represented by n!

### First we do it with functions

In [94]:
def factorial (n):
    temp = 1
    for i in range (n):
        temp *= i+1
    return temp

In [95]:
factorial(3)

6

In [87]:
def product (a, b):
    return a * b

numbers3 = [1, 2, 3]

reduce(product, numbers3)

6

In [97]:
# I can set an initial value

In [98]:
a_list_of_strings = ["a", "b", "c", "d"]

def adds (a, b):
    return a + b

reduce(adds, a_list_of_strings, "I can set an initial value as a param: ")

'I can set an initial value as a param: abcd'

### Bonus: Do it with lambda!

In [81]:
n = 15
reduce(lambda x, y: x * y, range(1, 15))

87178291200

## Summary

- `filter` will return values that meet a condition
- For filter: I need to pass a fuction that returns a boolean
- function + iterable: function can be user-defined, lambda
- `reduce` returns one value
- `map` & `filter`: returns object (iterator) that we'll need to cast
- `reduce` you need to import
- All three functions iterate: they can substitute for loops
- More efficient, more readable, quicker to code
- You can use lambda with the three of them

## Further materials
http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/